{% extends 'base.html' %} {% load i18n %} {% block content %}
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            {% include 'includes/dashboard_sidebar.html' %}
            <main class="col-md-9">
                <div class="card" style="max-width: 600px">
                    <div class="card-body">
                        <h4 class="card-title mb-4">
                            {% trans "Change Password" %}
                        </h4>
                        {% include 'includes/alerts.html' %}
                        <form
                            method="POST"
                            action="{% url 'change_password' %}"
                        >
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label>{% trans "Current Password" %}</label>
                                <input
                                    type="password"
                                    name="current_password"
                                    class="form-control"
                                    required
                                />
                            </div>
                            <div class="form-group mb-3">
                                <label>{% trans "New Password" %}</label>
                                <input
                                    type="password"
                                    name="new_password"
                                    class="form-control"
                                    required
                                />
                            </div>
                            <div class="form-group mb-4">
                                <label
                                    >{% trans "Confirm New Password" %}</label
                                >
                                <input
                                    type="password"
                                    name="confirm_password"
                                    class="form-control"
                                    required
                                />
                            </div>
                            <button type="submit" class="btn btn-primary">
                                {% trans "Update" %}
                            </button>
                        </form>
                        <hr />
                        <p class="text-muted small mb-0">
                            {% trans "Requirements: minimum 8 characters, avoid
                            common passwords, should not be all numbers." %}
                        </p>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>
{% endblock %}
